<div class="dashboard">
  <div class="header">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h3 class="header-font">Dashboard</h3>
      </div>
    </nav>
  </div>
  <div class="products-area row p-5">
    <div class="col-md-4 p-3" (click)="openModal(modalTemplate,product)" *ngFor="let product of productList">
      <div class="card">
        <img class="card-img-top" [src]="product.images[0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">Quantity: {{product.quantity}}</p>
          <p class="card-text">Price: {{product.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <app-product-popup [dataFromParent]="modalRef" [product]="product"></app-product-popup>
</ng-template>